.photo-grid__element-like {
  /*some code */
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  transform: translate(-5px, 2px);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.photo-grid__element-like:hover {
  opacity: 0.5;
}
